/* General Reset */
* {
    box-sizing: border-box; /* Include padding and border in the element's total width and height , remove this line and see what happens with the form inputs!*/
    margin: 0;
    padding: 0;
}
/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Soft blue background */
    color: #333; /* Dark gray text for readability */
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc5c; /* Light orange */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #0066cc; /* Bright blue */
    border-bottom: 2px solid #ffcc5c; /* Light orange underline */
    padding-bottom: 10px;
}

p,
li {
    line-height: 1.6; /* Improved readability */
}

/* Images */
img {
    width: 100%; /* Responsive images */
    max-width: 900px; /* Maximum size */
    display: block; /* Remove default inline styling */
    margin: 10px auto; /* Center images */
}

/* List Styling */
ul {
    padding: 0;
    list-style-type: none; /* Removes bullet points */
}

li {
    background-color: #ffeadb; /* Very light orange */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px; /* Rounded corners for the list items */
}

/* Form Styling */
form {
    background-color: #fff; /* White background */
    padding: 20px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 10px; /* Rounded corners for the form */
}

input,
textarea {
    width: 100%; /* Full width */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Light grey border */
}

button {
    background-color: #0066cc; /* Bright blue */
    color: #fff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
}

button:hover {
    background-color: #005cbf; /* Slightly darker blue on hover */
}

/* Footer Styling */
footer {
    background-color: #333; /* Dark footer */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        background-color: #005cbf;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    /* CSS rules for small screens */
    header {
        background-color: aqua;
    }
}
