* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: skyblue;
    position: relative;
    height: 100vh;
    font-family: 'Segoe UI';
}

.window {
    background-color: #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid white;
    border-right: 3px solid #424141;
    border-bottom: 3px solid #424141;
}

header {
    padding: 0.25rem 0.75rem;
    /* background: rgb(11, 35, 103); */
    background: linear-gradient(
        90deg,
        rgba(11, 35, 103, 1) 0%,
        rgba(171, 205, 242, 1) 100%
    );
}
h1 {
    color: white;
    font-size: 1rem;
}

.body {
    padding: 1rem;
}
.text-content {
    padding: 1rem 0;
}
img {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0.125rem 0.125rem 0.125rem #808080;
    border-radius: 50%;
    margin-right: 0.25rem;
    image-rendering: pixelated;
}
p {
    display: inline-block;
    font-size: 0.9rem;
}

button {
    float: right;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: #c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    font-weight: bold;
}
/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    html {
        font-size: 24px;
    }
    .window {
        min-width: 600px;
    }
}

@media only screen and (min-width: 1201px) {
    html {
        font-size: 32px;
    }
    .window {
        min-width: 800px;
    }
}
